.add-to-cart__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}

.add-to-cart__options {
  margin: 0;
  padding: 0;

  border: 0;
}

.add-to-cart__options-header {
  font-size: 15px;
  line-height: 30px;
  color: $basic-dark-gray;
}

.add-to-cart__option-name {
  font-weight: bold;
  line-height: 16px;
  color: $basic-dark-gray;
  text-transform: uppercase;
}

.add-to-cart__option-submit {
  padding: 0;

  line-height: 16px;
  color: $basic-white;

  background-color: $accent-light-mint;
  border: 0;
}
