.catalog-nav {
  position: relative;

  background-color: $bg-light-gray;

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      bottom: -20px;

      width: 100%;
      height: 35px;

      background-image: url("../../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: bottom;
    }
  }
}

.catalog-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: $tablet-width;
    margin: 0 auto;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.catalog-nav__item {
  display: flex;
  flex-grow: 1;
  align-items: center;
  min-height: 103px;

  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $basic-white;

  &:hover {
    margin-top: -5px;
  }

  @media (max-width: $mobile-only-width) {
    padding: 0 calc((100vw - #{$mobile-width}) / 2);
  }

  @media (min-width: $tablet-width) {
    width: 50%;

    font-size: 20px;
    line-height: 30px;
  }

  &--interior {
    background-color: $accent-light-mint;
  }

  &--toys {
    background-color: $accent-dark-mint;
  }
}

.catalog-nav__item-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 30px;

  color: inherit;

  &:hover .catalog-nav__item-pic {
    opacity: 0.7;
  }

  &:active .catalog-nav__item-pic {
    opacity: 0.3;
  }

  &--interrior .catalog-nav__item-pic {
    margin-right: 36px;
  }

  &--toys .catalog-nav__item-pic {
    margin-right: 27px;

    @media (min-width: $tablet-width) {
      margin-right: 33px;
    }
  }
}

.catalog-nav__item-pic {
  margin-left: auto;

  color: $accent-darker-mint;

  opacity: 0.5;
}
