.check__label {
  position: relative;

  display: flex;
  align-items: center;
}

.check__label::before {
  content: "";

  flex-shrink: 0;
  align-self: flex-start;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  padding: 10px;

  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid $basic-dark-gray;

  @media (min-width: $tablet-width) {
    margin-right: 30px;
  }
}

.check__label::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;

  display: none;
  flex-shrink: 0;
  width: 22px;
  height: 12px;

  border-bottom: 2px solid $basic-black;
  border-left: 2px solid $basic-black;
  transform: rotate(-45deg);
}

.check__box:focus + .check__label::before {
  border: 2px solid $accent-light-mint;
}

.check__box:checked + .check__label::after {
  display: block;
}

.check__box:disabled + .check__label::before {
  border: 2px solid $basic-dark-gray-opacity-30;
}

.check__box:disabled + .check__label::after {
  border-color: $basic-dark-gray-opacity-30;
}

.check__box:checked:disabled + .check__label::before {
  border: 2px solid $basic-dark-gray-opacity-30;
}

.check:hover .check__box:not(:disabled) + .check__label::before {
  border: 2px solid $accent-light-mint;
}

.check:active .check__box:not(:disabled) + .check__label::before {
  border: 2px solid $basic-dark-gray-opacity-30;
}
