.contacts__title {
  @media (max-width: $mobile-only-width) {
    font-size: 18px;
  }
}

.contacts__container {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

.contacts__inner-container {
  display: flex;
}
