.controls {
  display: flex;
}

.controls__button {
  width: 50%;
  padding: 11px;

  background-color: transparent;
  border: 1px solid $decor-light-gray;

  transition: opacity 0.15s;


  @media (min-width: $tablet-width) {
    padding: 19px;

    border: 0;
  }
}
controls__button
.controls__button-icon {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.controls__button:nth-child(2n) {
  border-left: 0;
}
