.contacts {
  display: grid;
  padding-top: 42px;
  padding-bottom: 38px;

  row-gap: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 143px;
    padding-bottom: 58px;

    row-gap: 47px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
    padding-top: 163px;
    padding-bottom: 105px;

    grid-template-columns: repeat(6, 1fr);
    row-gap: 0;
  }
}

.contacts__info {
  display: grid;

  row-gap: 28px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 77px 0;

    grid-column: 2 / 4;
    grid-row: 2 / 3;
    grid-template-columns: 1fr;
    row-gap: 34px;
  }
}

.contacts__info-header {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    margin-bottom: -9px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.contacts__title {
  @media (max-width: $mobile-only-width) {
    font-size: 18px;
  }
}

.contacts__icon {
  @media (max-width: $mobile-only-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-top: -10px;
    margin-right: 3px;;
  }


  @media (min-width: $desktop-width) {
    position: absolute;
    left: -110px;
  }
}

.contacts__type {
  display: grid;

  grid-template-columns: 75px auto;

  @media (min-width: $tablet-width) {
    grid-template-columns: 80px auto;
  }
}

.contacts__type-link {
  position: relative;

  border-bottom: 1px solid $accent-light-mint;

  transition-duration: 0.2s;
  transition-property: color, border-color;

  &:hover {
    color: $accent-dark-mint;

    border-color: $accent-dark-mint;
  }

  &:active {
    border-color: $accent-dark-mint-opacity;
  }
}

.contacts__map {
  width: 100vw;
  margin: 0 calc(50% - 50vw);

  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/map-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 527px;
    height: 455px;
    margin: 0;

    background-image: url("../img/map-desktop@1x.jpg");

    grid-column: 4 / -1;
    grid-row: 1 / 4;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}

.contacts__map iframe {
  display: block;
  width: 100%;

  border: 0;
}

.contacts__write {
  @media (min-width: $tablet-width) {
    margin-top: 5px;
  }


  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

.contacts__write-btn {
  margin-top: 3px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 14px;
  }
}
