.main-nav {
  @media (min-width: $tablet-width) {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5px;
  }
}

.main-nav__logo-container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    order: 1;
    width: 320px;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    width: 150px;
  }
}

.main-nav__logo {
  @media (max-width: $mobile-only-width) {
    margin: 0 auto;
  }
}

.main-nav__logo[href] {
  color: $basic-black;

  transition: opacity 0.2s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  right: 0;
  padding: 16px;
  margin-right: -4px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--no-js .main-nav__toggle {
  display: none;
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  right: 5px;
  top: 8px;
  content: "";
  width: 20px;
  height: 2px;
  background-color: $basic-black;
  box-shadow: 0 6px 0 0 $basic-black, 0 12px 0 0 $basic-black;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    right: 4px;
    top: 14px;
    content: "";
    position: absolute;
    width: 21px;
    height: 2px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--closed .main-nav__list {
  @media (max-width: $mobile-only-width) {
    display: none;
  }
}

.main-nav__list {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  &--extra {
    display: none;

    @media (min-width: $desktop-width) {
      position: absolute;
      top: 100%;

      display: flex;

      font-size: 15px;
    }
  }
}

.main-nav__list--primary {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 100%;

    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    position: static;

    order: 1;
    margin-left: -35px;

    font-size: 17px;
  }
}

.main-nav__list--primary li {
  @media (min-width: $desktop-width) {
    padding-left: 35px;
  }
}

.main-nav__list--secondary {
  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    order: 3;
  }

  @media (max-width: $mobile-only-width) {
    & li:last-child {
      border-bottom: 1px solid $decor-light-gray;
    }
  }
}

.main-nav__list--secondary li:not(:last-child) {
  @media (min-width: $tablet-width) {
    margin-right: 30px;
  }
}

.main-nav__item {
  @media (max-width: $mobile-only-width) {
    border-top: 1px solid $decor-light-gray;
    margin: 0 calc(50% - 50vw);
  }

  @media (min-width: $tablet-width) {
    border: 0;
  }
}

.main-nav__item-link {
  position: relative;

  display: block;
  padding: 27px 27px 27px 45px;

  font-weight: bold;
  line-height: 24px;
  color: $basic-black;

  transition: color 0.2s;

  @media (max-width: $mobile-only-width) {
    width: 260px;
    margin: 0 auto;
  }

  &[href]:hover {
    color: $basic-black-opacity-60;
  }

  &[href]:active {
    color: $basic-black-opacity-30;
  }

  &[href]:hover .main-nav__item-link-icon {
    color: $accent-light-mint;

    opacity: 1;
  }

  &[href]:active .main-nav__item-link-icon {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 36px 26px 0;
  }

  &--search {
    @media (min-width: $tablet-width) {
      padding: 27px 41px;

      font-size: 0;

      border-right: 1px solid $decor-light-gray;
      border-left: 1px solid $decor-light-gray;
    }
  }

  &--cart {
    @media (min-width: $tablet-width) {
      padding-right: 0;
      padding-left: 52px;
    }
  }

  &--sale {
    padding-left: 27px;
  }
}

.main-nav__item-link-icon {
  position: absolute;
  left: 0;

  color: $basic-black;

  opacity: 0.2;

  &--search {
    top: calc(50% - 10px);
    left: 2px;

    @media (min-width: $tablet-width) {
      left: 32px;
    }
  }

  &--cart {
    top: calc(50% - 10px);
  }
}

.main-nav__special-info {
  font-size: 15px;
  color: $basic-dark-gray;

  @media (max-width: $mobile-only-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 100%;
    right: 0;

    margin-top: 26px;
  }
}
