.order {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.order__desc {
  font-size: 13px;
  line-height: 24px;
  color: $basic-dark-gray;
  grid-column: 1 / -1;
}

.order__fieldset {
  border-top: 1px solid $accent-light-mint;
  display: grid;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    border: 0;
    grid-template-columns: 167px 1fr;
  }

  @media (min-width: $desktop-width) {
    border: 0;
    grid-template-columns: 175px 1fr;
  }
}

.order__fieldset-list {
  display: grid;

  &--color {
    @media (min-width: $tablet-width) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.order__fieldset-name {
  margin: 0;
  padding-right: 25px;

  font-weight: bold;
  line-height: 16px;
  color: $accent-light-mint;
  text-transform: uppercase;
  float: left;
}

.order__field-name {
  font-weight: bold;
  line-height: 18px;
}

.order__field-user-input {
  font-size: 17px;
  line-height: 18px;
  font-family: inherit;

  border: 0;
  border-bottom: 2px solid $basic-black;

  &--textarea {
    border: 2px solid $basic-black;
  }
}

.order__field-user-input::placeholder {
  color: $basic-black;

  opacity: 0.3;
}

.order__text {
  font-size: 14px;
  line-height: 16px;
  color: $basic-dark-gray;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}
