.page-footer {
  align-items: center;

  background-color: $bg-light-gray;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 65px;
  }
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 35px;
  }
}

.page-footer__logo {
  &:hover {
    color: $accent-dark-mint;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $mobile-only-width) {
    display: none;
  }
}
