.page-main__title-container {
  height: 177px;
  margin: 0;
  padding-top: 73px;

  background-color: $bg-light-gray;

  @media (min-width: $tablet-width) {
    height: 230px;
    padding-top: 105px;
  }

  @media (min-width: $desktop-width) {
    height: 270px;
  }

  &--hero {
    height: 280px;

    background-image: url("../../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -20px;

    @media (min-width: $tablet-width) {
      height: 625px;
      padding-top: 155px;

      background-image: url("../../img/hero-tablet@1x.jpg");
      background-position: center -2px;

      & br {
        display: none;
      }
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/hero-desktop@1x.jpg");
    }
  }
}

.page-main__title {
  margin: 0 auto;

  font-size: 27px;
  text-align: center;

  @media (min-width: $mobile-width) {
    display: block;
  }

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;

    font-size: 53px;
    line-height: 57px;
  }
}
