.page-main__title {
  height: 177px;
  margin: 0;

  background-color: $bg-light-gray;

  @media (min-width: $tablet-width) {
    height: 230px;
  }

  @media (min-width: $desktop-width) {
    height: 270px;
  }

  &--hero {
    height: 280px;

    @media (min-width: $tablet-width) {
      height: 625px;
    }
  }
}
