.popular {
  position: relative;

  padding-top: 30px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 52px;
    padding-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 96px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 6px;
    margin-top: 35px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: contain;

    @media (min-width: $tablet-width) {
      height: 17px;
    }

    @media (min-width: $desktop-width) {
      left: 50%;

      width: 1050px;
      height: 23px;
      margin-left: -525px;

      background-position: center;
    }
  }
}

.popular__item {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-areas: "title title title title tag"
    "description description gap picture picture"
    "properties properties gap picture picture"
    "price price gap picture picture"
    "buy buy gap picture picture";
    grid-template-columns: repeat(2, 146px) 42px repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-areas: "tag title title . picture picture picture"
    ". description description . picture picture picture"
    ". properties properties . picture picture picture"
    ". price price . picture picture picture"
    ". buy buy . picture picture picture";
    grid-template-columns: 175px 145px 145px 60px repeat(3,1fr);
  }
}

.popular__item-title {
  margin-bottom: 5px;

  grid-area: title;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;

    margin-top: 80px;
    margin-right: -100%;
    margin-bottom: 0;
  }
}

.popular__item-tag {
  font-weight: bold;
  color: $accent-light-mint;
  text-transform: uppercase;

  grid-area: tag;

  @media (min-width: $tablet-width) {
    margin-left: 42px;
    padding: 5px 20px;

    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 78px;
    margin-left: -10px;
    padding: 5px 30px;
    padding-top: 10px;

    justify-self: center;
  }
}

.popular__item-description {
  margin-top: 18px;
  margin-bottom: 15px;

  font-size: 15px;
  line-height: 24px;
  color: $basic-dark-gray;

  grid-area: description;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 30px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 34px;
    margin-bottom: 60px;
  }
}

.popular__item-properties {
  width: 100%;
  margin: 0;
  margin-bottom: 28px;

  border-collapse: collapse;
  font-size: 15px;
  color: $basic-dark-gray;

  grid-area: properties;

  @media (min-width: $tablet-width) {
    max-height: 120px;
    margin-top: 5px;
    margin-bottom: 60px ;
  }

  @media (min-width: $desktop-width) {
    margin-top: -10px;
    margin-bottom: 110px;
  }
}

.popular__item-properties tr {
  padding: 12px 0;

  border-bottom: 1px solid $decor-light-gray;
}

.popular__item-property {
  width: 98px;
}

.popular__item-property-value {
  margin: 0;
  padding: 10.4px 0;
}

.popular__item-picture,
.popular__item picture {
  width: 260px;
  height: 315px;

  grid-area: picture;

  @media (max-width: $mobile-only-width) {
    margin-bottom: 26px;
  }

  @media (min-width: $tablet-width) {
    align-self: end;
    width: 333px;
    height: 404px;
    margin-top: -1px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 636px;
  }
}

.popular__item-price {
  align-self: center;
  margin-bottom: 21px;

  font-weight: bold;
  line-height: 24px;
  color: $basic-dark-gray;

  grid-area: price;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;

    font-size: 20px;

    justify-self: center;
  }
}

.popular__item-buy {
  grid-area: buy;
}
