.promo {
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
  padding-top: 22px;
  padding-bottom: 33px;

  border: 1px solid $decor-light-gray;

  transition: box-shadow 0.1s;

  &:hover {
    box-shadow: $dark-shadow;
  }

  &:active {
    box-shadow: 0 3px 5px $basic-black-opacity-10;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
    padding-top: 0;
    padding-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    padding-bottom: 0;
  }
}

.promo__header {
  display: flex;
  align-items: center;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: stretch;
    padding-top: 40px;

    grid-column: 2 / 3;
  }
}

.promo__video-icon {
  color: $accent-light-mint;
}

.promo__title {
  margin: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @media (max-width: $mobile-only-width) {
    width: 130px;
    margin-left: 25px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 33px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding-top: 27px;
    padding-right: 20px;
  }
}

.promo__info {
  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 53px;

    grid-column: 2 / 3;
  }
}

.promo__text {
  margin: 0;
  margin-bottom: 39px;

  font-size: 13px;
  line-height: 24px;
  color: $basic-dark-gray;

  @media (max-width: $mobile-only-width) {
    margin-right: -3px; //Только для pixel-perfect. Возмозжно, стоит принебречь.
  }

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__media {
  position: relative;

  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    margin-right: 22px;
    margin-bottom: 0;

    grid-row: 1 / 3;
  }
}

.promo__media video {
  display: block;
  width: 260px;
  height: 150px;

  background-image: url("../img/video-mobile@1x.jpg");
  background-size: contain;

  object-fit: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    width: 668px;
    height: 455px;

    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 682px;

    background-image: url("../img/video-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }
}

.promo__video-play {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 101px;
  height: 77px;
  padding: 0;

  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  transform: translate(-50%, -50%);

  transition-duration: 0.2s;
  transition-property: transform, opacity;
}

.promo__video-play:focus,
.promo__video-play:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

.promo__video-play:active {
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0.3;
}

.promo__buy {
  width: 100%;
}
