.radio__label {
  display: flex;
  align-items: center;
}

.radio__label::before {
  content: "";

  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin-right: 20px;

  background-color: $basic-white;
  border-radius: 50%;
  box-shadow: $radio-normal-cicle;

  @media (min-width: $tablet-width) {
    margin-right: 25px;
  }
}

.radio__button:focus-within + .radio__label::before {
  box-shadow: $radio-colored-cicle;
}

.radio__button:checked + .radio__label::before {
  background-color: $accent-light-mint;
}

.radio__button:disabled + .radio__label::before {
  box-shadow: $radio-faded-cicle;
}

.radio__button:checked:disabled + .radio__label::before {
  background-color: $basic-dark-gray-opacity-30;
  box-shadow: $radio-faded-cicle;
}

.radio:hover .radio__button:not(:disabled) + .radio__label::before {
  box-shadow: $radio-colored-cicle;

  transition: box-shadow 0.15s;
}

.radio:active .radio__button:not(:disabled) + .radio__label::before {
  box-shadow: $radio-faded-cicle;

  transition: box-shadow 0.15s;
}
