.reviews {
  padding-top: 30px;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    padding-top: 75px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 350px 457px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
    padding-bottom: 95px;

    background-position: 50px center;
  }
}

.reviews__wrapper {
  @media (min-width: $tablet-width) {
    position: relative;

    display: grid;

    grid-template-columns: 175px repeat(4, 1fr);
  }
}

.reviews__title {
  @media (min-width: $tablet-width) {
    margin-top: 5px;

    grid-column: 1 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}

.reviews__list {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin: 0;

    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
  }
}

.reviews__controls {
  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    bottom: -7px;
  }
}

.reviews__write {
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    width: 175px;
    margin: 0;

    grid-column: -1 / -2;
  }

  @media (min-width: $desktop-width) {
    height: 53px;
    margin-top: 4px;

    justify-self: end;
  }
}
