.socials__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;

  border-bottom: 1px solid $decor-light-gray;

  @media (min-width: $tablet-width) {
    border: 0;
  }
}

.socials__item {
  margin: 10px;
  padding: 10px;
}

.socials__item-icon {
  color: $basic-black;
}
