.socials__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  order: 1;
  width: 260px;
  margin: 0 auto;

  border-bottom: 1px solid $decor-light-gray;
}

.socials__item {
  margin: 10px;
  padding: 10px;
}

.socials__item-icon {
  color: $basic-black;
}
