.socials__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;

  border-bottom: 1px solid $decor-light-gray;

  @media (min-width: $tablet-width) {
    border: 0;
  }
}

.socials__item {
  margin: 10px;
}

.socials__item-link {
  padding: 10px;

  &:hover .socials__item-icon {
    color: $accent-dark-mint;

    transition: color 0.2s;
  }

  &:active .socials__item-icon {
    opacity: 0.3;

    transition: oapcity 0.2s;
  }
}

.socials__item-icon {
  color: $basic-black;
}
