@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "OpenSans";

  src: local("OpenSansRegular"),
    local("OpenSans-Regular"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "OpenSans";

  src: local("OpenSansBold"),
    local("OpenSans-Bold"),
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}
