body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  color: $basic-black;
  background-color: $basic-white;
  font-family: "OpenSans", "Trebuchet MS", sans-serif;
  font-size: 17px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
::before,
::after {
  box-sizing: border-box;
}
