$basic-black: #000000;
$basic-white: #ffffff;
$basic-dark-gray: #444444;
$bg-light-gray: #f9f9f9;
$accent-light-mint: #63d1bb;
$accent-dark-mint: #56c3b2;
$mobile-width: 320px;
$mobile-only-width: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
