$basic-black: #000000;
$basic-black-opacity-10: #0000001a;
$basic-black-opacity-30: #0000003a;
$basic-black-opacity-40: #0001014a;
$basic-black-opacity-60: #0000006a;
$basic-white: #ffffff;
$basic-dark-gray: #444444;
$basic-dark-gray-opacity-10: #4444441a;
$basic-dark-gray-opacity-30: #4444443a;
$bg-light-gray: #f9f9f9;
$decor-light-gray: #ececec;
$decor-semi-light-gray: #c6c6c6;
$accent-light-mint: #63d1bb;
$accent-dark-mint: #56c3b2;
$accent-dark-mint-opacity: #56c3b21a;
$accent-darker-mint: #149080;
$mobile-width: 320px;
$mobile-only-width: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
$thin-light-gray: 1px solid $decor-semi-light-gray;
$normal-dark-gray: 2px solid $basic-dark-gray-opacity-30;
$dark-shadow: 0 6px 10px $basic-black-opacity-10;
$radio-colored-cicle: inset 0 0 0 2px $accent-light-mint, inset 0 0 0 12px $basic-white;
$radio-faded-cicle: inset 0 0 0 2px $basic-dark-gray-opacity-30, inset 0 0 0 12px $basic-white;
$radio-normal-cicle: inset 0 0 0 2px $basic-dark-gray, inset 0 0 0 12px $basic-white;
