$basic-black: #000000;
$basic-black-opacity-30: #0000003a;
$basic-white: #ffffff;
$basic-dark-gray: #444444;
$basic-dark-gray-opacity-10: #4444441a;
$basic-dark-gray-opacity-30: #4444443a;
$bg-light-gray: #f9f9f9;
$decor-light-gray: #ececec;
$decor-semi-light-gray: #c6c6c6;
$accent-light-mint: #63d1bb;
$accent-dark-mint: #56c3b2;
$accent-dark-mint-opacity: #56c3b21a;
$accent-darker-mint: #149080;
$mobile-width: 320px;
$mobile-only-width: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
